In [1]:
import pandas as pd
import psycopg2 as psp

In [2]:
conn = psp.connect(
            database='diabete',
            user = 'hugofugeray',
            password = 'postgres',
            host = 'localhost',
            port = '5432'
        )
c = conn.cursor()

In [3]:
c.execute('''SELECT valeurs.valeur AS valeur, symptomes.facteur AS facteur, patient.diabete_binary AS diabete_binary, patient_id FROM valeurs
  JOIN patient
  ON patient_id = patient.id
  JOIN symptomes
  ON symptome_id = symptomes.id;''')

df_init = c.fetchall()

data = pd.DataFrame(df_init)

data.rename(columns={0: "valeur", 1: "facteur", 2 :'diabetes_binary', 3 : 'patient'}, inplace = True)

In [8]:
df = data.pivot(index = ['patient', 'diabetes_binary'], columns='facteur', values='valeur')

In [11]:
df.reset_index('diabetes_binary', inplace=True)

In [12]:
df

facteur,diabetes_binary,Age,AnyHealthcare,BMI,CholCheck,DiffWalk,Education,Fruits,GenHlth,HeartDiseaseorAttack,...,HvyAlcoholConsump,Income,MentHlth,NoDocbcCost,PhysActivity,PhysHlth,Sex,Smoker,Stroke,Veggies
patient,,,,,,,,,,,,,,,,,,,,,
1,0,9,1,40,1,1,4,0,5,0,...,0,3,18,0,0,15,0,1,0,1
2,0,7,0,25,0,0,6,0,3,0,...,0,1,0,1,1,0,0,1,0,0
3,0,9,1,28,1,1,4,1,5,0,...,0,8,30,1,0,30,0,0,0,0
4,0,11,1,27,1,0,3,1,2,0,...,0,6,0,0,1,0,0,0,0,1
5,0,11,1,24,1,0,5,1,2,0,...,0,4,3,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253676,0,5,1,45,1,0,6,1,3,0,...,0,7,0,0,0,5,1,0,0,1
253677,1,11,1,18,1,1,2,0,4,0,...,0,4,0,0,0,0,0,0,0,0
253678,0,2,1,28,1,0,5,1,1,0,...,0,2,0,0,1,0,0,0,0,0
253679,0,7,1,23,1,0,5,1,3,0,...,0,1,0,0,0,0,1,0,0,1
253680,1,9,1,25,1,0,6,1,2,1,...,0,2,0,0,1,0,0,0,0,0

In [14]:

user_input = 'db ou modele ?'
user_input

'db ou modele ?'